footer {    
    text-align: center;
    background-color: #45484f;
    color:#969eb6;

    hr {
        border-top: 1px solid #575b64;
    }

    ul {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style: none;
        padding-top: 2rem;

        li + li {
            padding-left: 30px;            
        }
    }

    p {
        padding-top: 1rem;
        padding-bottom: 2rem;
        font-size: 1.3rem;
    }
    
    @media (min-width: 700px) {
        padding: 0 135px;     
    }
}